Import Library

In [28]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from apyori import apriori 
from mlxtend.preprocessing import TransactionEncoder

In [47]:
# Step 1: Data Collection
df = pd.read_excel("data/online_retail_II.xlsx")
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [56]:
# Step 2: Data processing with missing values
records = df.dropna(subset=["Description","Quantity","Price"])
print("=============> Data processing <=============  \n" , records)

#  Convert into Transactions only 8 records
transaction = []
for row in records: 
    row = str(row)
    transaction.append(row.split(','))
    
print("=============> Convert Data to transaction <============= \n", transaction[:8])

=============> Data processing <=============
        Invoice StockCode                          Description  Quantity  \
0       489434     85048  15CM CHRISTMAS GLASS BALL 20 LIGHTS        12
1       489434    79323P                   PINK CHERRY LIGHTS        12
2       489434    79323W                  WHITE CHERRY LIGHTS        12
3       489434     22041         RECORD FRAME 7" SINGLE SIZE         48
4       489434     21232       STRAWBERRY CERAMIC TRINKET BOX        24
...        ...       ...                                  ...       ...
525456  538171     22271                 FELTCRAFT DOLL ROSIE         2
525457  538171     22750         FELTCRAFT PRINCESS LOLA DOLL         1
525458  538171     22751       FELTCRAFT PRINCESS OLIVIA DOLL         1
525459  538171     20970   PINK FLORAL FELTCRAFT SHOULDER BAG         2
525460  538171     21931               JUMBO STORAGE BAG SUKI         2

               InvoiceDate  Price  Customer ID         Country
0      2009-12-01 07:45:00   6.95      13085.0  United Kingdom
1      2009-12-01 07:45:00   6.75      13085.0  United Kingdom
2      2009-12-01 07:45:00   6.75      13085.0  United Kingdom
3      2009-12-01 07:45:00   2.10      13085.0  United Kingdom
4      2009-12-01 07:45:00   1.25      13085.0  United Kingdom
...                    ...    ...          ...             ...
525456 2010-12-09 20:01:00   2.95      17530.0  United Kingdom
525457 2010-12-09 20:01:00   3.75      17530.0  United Kingdom
525458 2010-12-09 20:01:00   3.75      17530.0  United Kingdom
525459 2010-12-09 20:01:00   3.75      17530.0  United Kingdom
525460 2010-12-09 20:01:00   1.95      17530.0  United Kingdom

[522533 rows x 8 columns]
=============> Convert Data to transaction <=============
 [['Invoice'], ['StockCode'], ['Description'], ['Quantity'], ['InvoiceDate'], ['Price'], ['Customer ID'], ['Country']]

In [57]:
# Step 3 : Convert to bit arrays matrix
tranEncode = TransactionEncoder()
tranEncodeArray = tranEncode.fit(transaction).transform(transaction)
binary_matrix = pd.DataFrame(tranEncodeArray, columns=tranEncode.columns_)
print("=============> Binary Matrix <============= \n" , binary_matrix.astype(int))

=============> Binary Matrix <=============
    Country  Customer ID  Description  Invoice  InvoiceDate  Price  Quantity  \
0        0            0            0        1            0      0         0
1        0            0            0        0            0      0         0
2        0            0            1        0            0      0         0
3        0            0            0        0            0      0         1
4        0            0            0        0            1      0         0
5        0            0            0        0            0      1         0
6        0            1            0        0            0      0         0
7        1            0            0        0            0      0         0

   StockCode
0          0
1          1
2          0
3          0
4          0
5          0
6          0
7          0

In [58]:
# Frequent One-Itemset Generation
min_support = 0.05
min_confidence = 0.0
min_lift = 0.0

rules = apriori(transaction,min_support=min_support,min_confidence=min_confidence,min_lift=min_lift)
result = list(rules)
frequent_one_itemsets = []
for result in result :
    if len(result.items) == 1 :
        result.items
print("=============> Frequent One-Itemsets <============= \n" ,frequent_one_itemsets)

=============> Frequent One-Itemsets <=============
 []

In [61]:
#  Remove Duplicate Data 
unique_transactions = [list(x) for x in set(tuple(transaction) for transaction in transaction)]
print("Unique Transactions:", unique_transactions[:8])

Unique Transactions: [['Invoice'], ['Price'], ['Description'], ['StockCode'], ['InvoiceDate'], ['Quantity'], ['Customer ID'], ['Country']]